!!!
%html
  %head
    %title ReadThis
    %link{:href => "http://fonts.googleapis.com/css?family=Arimo:400,700", :rel => "stylesheet", :type => "text/css"}/
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %meta{:name=>"description", :content=> "Read only the most relevant, informative, and engaging books as recommended by professors, thought leaders, and other luminaries"}
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}
  %body
    .container
      = render "layouts/header"    
    .container
      .content
        %p.notice= notice
        %p.alert= alert
        = yield
    = render "layouts/footer"